* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Header*/
header {
    min-height: 40vh;
    background-color: #9049fb;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/1971295.jpg);
    background-size: cover;
    transition: all 1s ease-in-out;
}

header h1:hover {
 font-size: 16vh;
 
 

}

/*Contenido Principal*/

main {
    min-height: 100vh;
    background-color: #cfacf2;
}

/*NAV*/
nav {
    background-color: #353340;
    height: 50px;
    text-align: center;
    position: sticky;
    top: 0;
}

.items {
     list-style: none;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}

.item {
    height: 50px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
   padding-top: 10px;
   height: 40px;
   transition: all 0.7s ease;
}

nav ul li a:hover {
    color: #9266f2;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container__img {
width: 70%;
 transition: all 3s ease;
}

.container__img:hover {
    transform: scale(1.2);
}
.container__img img {
    width: 100%;
    height: auto;
    
}


footer {
    background-color: #353340;
    color: #fff;
    height: 80px;
    display: flex;
   justify-content: space-around;
   align-items: center;
}


footer div {
width: 20svw;
}

.footer-social ul {
    list-style: none;
    display: flex;
}

.footer-social ul li {
list-style: none;
}

footer h4 {
    width: 70vw;
}